.text-primary {
    color: #7C2282!important;
}

#runexec {
    background-image: url(../images/play.png);
    margin-left: 20px;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    /* make the background image appear only once */
    background-position: 0px 0px;
    /* equivalent to 'top left' */
    /*border: none;            assuming we don't want any borders */
    margin-right: 20px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 19px;
    background-color: #7C2282;
    border-color: #7C2282;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#stopexec {
    background-image: url(../images/stop.png);
    margin-left: 20px;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    /* make the background image appear only once */
    background-position: 0px 0px;
    /* equivalent to 'top left' */
    cursor: pointer;
    /* make the cursor like hovering over an <a> element */
    vertical-align: middle;
    font-size: 19px;
    background-color: #7C2282;
    border-color: #7C2282;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}